@page "/"
@page "/modelExample"
@inject IModalService Modal
@inject DialogService _dialogService
@using BlazorBarcodeScanner.ZXing.JS
@using DialogService = Radzen.DialogService


<h1>Hello!</h1>
<RadzenButton Text="Scan" Click="@ShowInlineDialog" Style="background-color: #301c6b" />
@*<button class="btn btn-primary" @onclick="@(() => Modal.Show<BarcodeReader>("Modal Popup Example"))">View </button>*@

@code
{
    private string LocalBarcodeText;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        JsInteropClass.BarcodeReceived += LocalReceivedBarcodeText;
    }

    private void LocalReceivedBarcodeText(BarcodeReceivedEventArgs args)
    {
        this.LocalBarcodeText = args.BarcodeText;
        StateHasChanged();
    }

    async Task ShowInlineDialog() => await _dialogService.OpenAsync("", ds =>
    @<div>
        <div class="row">
            <BlazorBarcodeScanner.ZXing.JS.BarcodeReader Title=""
                                                         StartCameraAutomatically="true"
                                                         ShowStart="false"
                                                         ShowReset="false"
                                                         ShowToggleTorch="false"
                                                         ShowVideoDeviceList="true"
                                                         VideoWidth="300"
                                                         VideoHeigth="200" />
        </div>
    </div>);
}